@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="fonts.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	
</head>
<body>
	
	<div class="logobox">
		<a class="logo">PHSE'19</a>
	</div>

	<nav class="searchbar">  
	    <input class="searchline" type="search" placeholder="Введите id..." aria-label="Search">
		
		<button class="searchbutton"  type="submit">
    		<img src="src/img/palm-scan.png" width="25" height="25" alt="submit" />
		</button>
	</nav>

			<div class="data">
				<div class="contblock" id="Latency">
					<div class="contdescr">
						<img src="src/img/graph.png" style="position: absolute; margin-left: 15px;" />
						<div>
							<h3>Частота появления слов</h3>
						</div>
						<button class="hidebutton"  type="submit">
							<img src="src/img/expand_arrow1600.png" alt="hide-btn"/>
						</button>
					</div>
					<div class="contdata"></div>
				</div>

				<div class="contblock" id="Test">
					<div class="contdescr">
						<img src="src/img/test_partial_passed1600.png" style="position: absolute; margin-left: 15px;"/>
						<div>
							<h3>Типология Майерс-Бриггс</h3>
						</div>
						<button class="hidebutton"  type="submit">
							<img src="src/img/expand_arrow1600.png" alt="hide-btn" />
						</button>
					</div>
					<div class="contdata"></div>
				</div>

				<div class="contblock" id="Rare">
					<div class="contdescr">
						<img src="src/img/latency.png" style="position: absolute; margin-left: 15px;" />
						<div>
							<h3>Самые популярные слова</h3>
						</div>
						<button class="hidebutton"  type="submit">
							<img src="src/img/expand_arrow1600.png" alt="hide-btn"/>
						</button>
					</div>
					<div class="contdata"></div>
				</div>

				<div class="contblock" id="Type">
					<div class="contdescr">
						<img src="src/img/robo-logo-black.png" style="
						position: absolute;
    margin-left: 11px;
    height: 55px;
    width: 55px;
    margin-top: -2px;    margin-bottom: 150px;" />
						<div>
							<h3>Оценка типа аккаунта</h3>
						</div>
						<button class="hidebutton"  type="submit">
							<img src="src/img/expand_arrow1600.png" alt="hide-btn"/>
						</button>
					</div>
					<div class="contdata"></div>
				</div>

			</div>
			<div class="info">
				<div class="contdescr"><h3 style="margin-left: 35px;">Информация профиля</h3></div>
			</div>

	
	<div class="nav">
		<div class="navbuttons">
			<div class="buttongroup">
				<button class="navbutton" onclick=" window.location.href='#Latency'">
					<img src="src/img/graph.png"/>
					<h3>Частоты слов</h3>						
				</button>
				
				<button class="navbutton"  onclick=" window.location.href='#Test'">
					<img src="src/img/test_partial_passed1600.png">
					<h3>Типология</h3>
				</button>
				<button class="navbutton"  onclick=" window.location.href='#Rare'">
					<img src="src/img/latency.png"/>
					<h3>Популярные</h3>
				</button>
				<button class="navbutton"  onclick=" window.location.href='#Type'">
					<img src="src/img/robo-logo-black.png" style="
					    height: 55px;
					    width: 55px;" />
					<h3 style="margin-left: 20px; margin-top: 9px;">Тип</h3>
				</button>
				<button class="navbutton" onclick="document.getElementsByClassName('searchline')[0].focus()">
					<img src="src/img/palm-scan.png"/>
					<h3>Поиск</h3>
				</button>
			</div>
			<div class="image">

			</div>
		</div>
	</div>


</body>

<script src="script.js"></script>
</html>